body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
h1 {
    align-content: center;
    font-family: monospace;
    padding: 50px 10px;
}
#display {
    border: 5px solid blue;
    font-size: 50px;
    width: 50%;
    margin: 40px;
    text-align: right;
}
span {
    left: 0;
}
#calc {
    padding: 20px;
    display: flex;
    width: 800px;
    height: 50%;
    align-items: center;
    flex-wrap: wrap;
}
button {
/*
    width: 7%;
    color: antiquewhite;
    padding: 10px;
    text-align: center;
*/
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

#1 {
    font-family: monospace;
    font-size: 20px;
}
